<#@ template language="c#" hostSpecific="true" debug="true" #>
<# 
	ClassHost host = (ClassHost) (Host);
	string nameSpace = host.GetString("NameSpace");
	string className = host.GetString("ClassName");
	string baseClass = host.GetString("BaseClass");
#>
using System;
using System.Collections.Generic;
using System.Text;
using System.Data;

namespace <#= nameSpace #>
{
	public class <#= className #> : <#= baseClass #>
	{
		public <#= className #>() : base(nameof(<#= className #>))
		{
		}
	}
}